[Desktop Entry]
Version=0.1
Name=Rockyourself
Comment=Rockyourself Mates!
Exec=/usr/bin/RockYourself-GUI
Icon=/usr/share/applications/desktop.png
Terminal=false
Type=Application
Categories=Application;
Name[en_US]=RockYourself
